<link rel="stylesheet" href="./public/css/index.css">
    <div class="blogpg">
        <div class="blogs">



          <div class="bgcont">
            <div class="bg_tittle">
              <img src="./public/img/logobg.jpg"   alt=""> 
              <h2> basliq</h2>
            </div>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure cumque pariatur, dolore recusandae ipsa cum magnam excepturi amet odit suscipit ut facere nihil illum libero veniam consequatur error quis. Facere.</p>
                <a href="/readmore">Read more</a>
            </div>



        </div>
  </div>

        </div>
  </div>