<link rel="stylesheet" href="./public/css/readmore.css">
<div class="container">
     <div class="blogmain">
          <div class="bloghead">
               <div class="space">
                   <img src="./public/img/profileimg.jpg" alt="">
               <div class="blogtitle">bir soz</div> 
               </div>
               
               <div class="blogtime">1 fer 2020</div>

          </div>
          <div class="texthere">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, reprehenderit iusto? Repellendus necessitatibus neque tempore, id, rem, nam aliquam tenetur minus aut numquam laboriosam debitis? Neque ab iusto beatae suscipit?
          </div>
</div>
</div>
